{% extends 'base.html.twig' %}

{% block body %}
    <h1>Instrument</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ instrument.id }}</td>
            </tr>
            <tr>
                <th>Ticker</th>
                <td>{{ instrument.ticker }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ instrument.name }}</td>
            </tr>
            <tr>
                <th>Currentprice</th>
                <td>{{ instrument.currentPrice }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('instrument_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('instrument_edit', { 'id': instrument.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
